body {
  font-family: "wordy-diva", sans-serif;
  background-image: url("veg-image.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 15px 0;
}

a {
  font-weight: 400;
  color: rgb(45, 20, 65);
  margin-top: 30px;
}

.container {
  margin: 120px auto;
  max-width: 600px;
}

header {
  margin-top: 40px;
  font-weight: 800;
  font-size: 42px;
  line-height: 1.5;
  color: #eb841e;
  text-align: center;
}

footer {
  font-family: "sketchnote-square", sans-serif;
  margin: 30px;
  padding: 20px;
  font-size: 14px;
}

@keyframes blink {
  50% {
    opacity: 0;
  }
}

.blink {
  animation: blink 1s step-start 0s infinite;
}

form {
  display: flex;
}

.form-container {
  padding: 20px;
}

.hint {
  font-size: 14px;
  opacity: 0.8;
  color: #312902;
  font-weight: 800;
  margin-left: 25px;
}

.instructions {
  padding: 16px;
  border: 1px solid rgba(39, 33, 66, 0.5);
  border-radius: 20px;
  line-height: 15px;
  font-size: 16px;
  width: 75%;
}

.submit-button {
  margin: 10px;
  color: white;
  background-color: rgb(10, 33, 10);
  border: none;
  font-size: 16px;
  width: 100px;
  border-radius: 10px;
  padding: 15px 25px;
}

.recipe {
  margin: 30px 0;
  font-size: 16px;
  padding: 20px 40px;
  line-height: 2.5;
}
